.container-fluid{
    background: #0D105B;  
    height:fit-content;
}

.nav{
    background: #0D105B;
    height: 80px
}

.txt-home, .txt-projects, .txt-about{
    color: #A9D6E5;
    text-align: center;
    font-weight: bold;

    margin-top: 25px;
}

.logo img{
    margin-top: 5px;
    margin-left: 12px;
}

.content{
    height: 703px;
    justify-content: space-between;
    padding-left: 50px;
}

.card-info{
    justify-content: center;
    display:flex;
}

.col{
    padding: 12px;
}

.footer img{
    height: 145px;
    width: 100%;
    padding:0px;

}
.footer{
    height: 145px;
    margin: 0px;
}