.banner {
    background-image: url("img/sydney_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .element {
      background-position: center center; 
      background-size: cover;            
    }
  }

.navbar-nav {
    color: #e0e8eb !important;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.nav-link {
    color: #e0e8eb !important;
    text-align: center;
    font-weight: bold;
    padding: 0px 10px 0px 10px !important;
}

.txtHome,
.txtProjects,
.txtAbout {
    padding: 7px;
    font-family: 'poppins';
}

.introTitle {
    color: aliceblue;
    height: auto;
    min-height: 550px;
    max-height: 550px;
    font-family: 'poppins';
    margin-bottom: 70px;
}

.introContent {
    color: aliceblue;
    /* max-height: 230px;
    min-height: 230px; */
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    font-family: 'poppins';
}

.homeBtn {
    text-decoration: none;
    color: aliceblue;
}

.titleTxt {
    color: aliceblue;
    margin-bottom: 10px;
    text-align: end;
    font-weight: bold;
}

.contentTxt {
    font-size: 19px;
    max-height: 230px;
    min-height: 200px;
    overflow: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.colContent{
    padding-top: 55px;
    margin-bottom: 10px;
}

@media (max-width: 880px) {
    .contentTxt {
        font-size: 16px;
    }
    .introTitle{
        margin-bottom: 55px;
    }
    .colContent{
        padding-top: 32 !important;
        margin-bottom: 20px !important;
    }
}

@media (max-width: 670px) {
    .contentTxt {
        font-size: 14px;
    }
    .introTitle{
        margin-bottom: 45px;
    }
    .colContent{
        padding-top: 32 !important;
        margin-bottom: 25px !important;
    }
}

@media (max-width: 500px) {
    .contentTxt {
        font-size: 12px;
    }
    .introTitle{
        margin-bottom: 40px;
    }
    .colContent{
        padding-top: 24 !important;
        margin-bottom: 30px !important;
    }
}

.contentTxt::-webkit-scrollbar {
    display: none;
}


.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 720px;
    object-fit: cover;
}

.carousel-caption {
    color: aliceblue !important;
    text-shadow: 4px 4px 6px #000000;
    font-family: 'poppins';
}

.picSlide {
    height: auto;
    max-height: 720px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: black;
}

.infoSlide {
    background-color: rgb(23, 29, 37);
    margin-top: 100px;
    padding-top: 30px;
    height: auto;
    font-family: 'poppins';
}


.card-title {
    font-weight: bold;
}

.btnCard {
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 9px;
}

.hover-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
