body, p{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', serif !important;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: 'Poppins', serif !important;
    font-weight: 400;
    font-style: normal;
}

.banner{
    background: rgb(25, 12, 57);
    height: 95vh;
}

.nav{
    background: rgb(25, 12, 57);
    height: 80px;
}

.navbar-nav{
    color: #e0e8eb !important;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.nav-link{
    color: #e0e8eb !important;
    text-align: center;
    font-weight: bold;
    padding: 0px 10px 0px 10px !important;
}

.txt-home, .txt-projects, .txt-about{
    color: #A9D6E5;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
}

.logo img{
    margin-top: 5px;
    margin-left: 12px;
}

.content{
    height: 703px;
    justify-content: space-between;
    padding-left: 50px;
}

.card-info{
    justify-content: center;
    display:flex;
}

.row{
    padding:0px;
}

.side{
    background-color: #dcdeec;
    height:92vh;
}

.side-nav{
    background-color: #d2d4e5;
}

.nav{
    justify-content: space-evenly;
    margin-top: 5px;
}

.center{
    height: 780px;
}

#content p{
    margin: 10px 30px;
    font-size: 18px;
    color: #312f2f;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content h2{
    font-size: 30px;
    color: #030419;
    margin: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.model-title {
    font-size: 30px;
    color: #030419;
    margin: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.feature p{
    font-size: 16px;
    color: #312f2f;
    text-align: left;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.price {
    font-size: 18px;
    color: #312f2f;
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
